.edit-profile__form {
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

.edit-profile__password {
  margin-top: 50px;
  text-align: center;

  a {
    text-decoration: underline;
  }
}
