.video__data {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  .video__title {
    margin-bottom: 5px;
    font-size: 26px;
  }
  .video__createdAt {
    font-size: 12px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}
