.video__data {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  .video__title {
    margin-bottom: 5px;
    font-size: 26px;
  }
  .video__createdAt {
    font-size: 12px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    a {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  .video__comment-form {
    display: flex;
    flex-direction: column;
    textarea::placeholder {
      text-align: center;
      line-height: 150px;
    }
    button {
      padding: 10px 0;
    }
  }
  .video__comment {
    padding: 10px 25px;
    margin-bottom: 10px;
    border-radius: 9999px;
    background-color: white;
    color: black;

    .video__comments--delete {
      cursor: pointer;
    }
  }
}
