extends /layout/base
include /mixins/video

block content 
  form.search__form(method="GET")
    input(type="text" name="keyword" placeholder="Search by title")
    button 
      i.fas.fa-search 

  div.video-grid
    each video in videos
      +video(video)
    else 
      span.empty__message No videos found